<template>
    <v-container>
        <v-row class="text-h6" justify="center"
            >Chess Session {{ sessionId }}</v-row
        >
        <br />
        <br />
        <v-row justify="center" align="center">
            <v-card class="board-container">
                <v-row justify="center" align="center">
                    <div id="board"></div>
                </v-row>
            </v-card>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "nuxt-class-component";
import axios from "axios";
import Chess, { ChessInstance } from "chess.js";

enum SessionStatus {
    Ongoing,
    Open,
    Finished
}

interface Session {
    id: string;
    white: string | null;
    black: string | null;
    status: SessionStatus;
    game: ChessInstance;
}

@Component({
    //@ts-ignore
    sockets: {
        connect: function() {
            console.log("socket connected");
        }
    }
})
export default class Index extends Vue {
    sessionId = "";
    chessboard: any;
    player: "w" | "b" | null = null;
    session = null as null | Session;

    mounted() {
        this.sessionId = this.$route.params["sessionId"];
        if (process.client) {
            var config = {
                draggable: true,
                position: "start",
                onDragStart: this.onDragStart.bind(this),
                onDrop: this.onDrop.bind(this),
                onSnapEnd: this.onSnapEnd.bind(this)
            };
            const ChessBoard = (window as any).ChessBoard;
            this.chessboard = ChessBoard("board", config);
            this.handleSocketIo();
        }
    }

    handleSocketIo() {
        console.log("joining session");
        //@ts-ignore
        this.$socket.emit("join-session", {
            id: this.sessionId,
            playerId: this.$store.state.chess.playerUUID
        });
        console.log("joining session2");
        //@ts-ignore
        this.sockets.subscribe("session-joined", data => {
            console.log(data);
            const session = data.session;
            console.log(session);
            this.$store.commit("chess/setPlayerUUID", data.playerId);
            const game = session.game;
            //@ts-ignore
            session.game = new Chess();
            Object.assign(session.game, game);
            this.session = session;
            // console.log("dataplayerid", data.playerUUID);
            this.player = data.playerId === this.session?.white ? "w" : "b";
            if (this.player === "b") {
                this.chessboard?.orientation("black");
            } else {
                this.chessboard?.orientation("white");
            }
            //@ts-ignore
            this.$socket.emit("request-game-state", {
                sessionId: session.id
            });
        });
        //@ts-ignore
        this.sockets.subscribe("session-game-update", data => {
            if (!this.session) return;
            console.log(this.session.game.fen());
            console.log("game update");
            const newFen = data.gameFen;
            console.log(newFen);
            //@ts-ignore
            this.session.game = Chess(newFen);
            this.chessboard.position(this.session.game.fen());
        });
    }

    onSnapEnd() {
        if (!this.session) return;
        this.chessboard.position(this.session.game.fen());
    }

    onDragStart(
        source: any,
        piece: any,
        position: any,
        orientation: any
    ): boolean {
        console.log("drag start");
        console.log(this.session);
        if (!this.session) return false;
        console.log(this.session.game);
        console.log(this.player);

        // do not pick up pieces if the game is over
        if (this.session.game.game_over()) return false;
        if (this.session.game.turn() !== this.player) return false;

        // only pick up pieces for the side to move
        if (
            (this.session.game.turn() === "w" && piece.search(/^b/) !== -1) ||
            (this.session.game.turn() === "b" && piece.search(/^w/) !== -1)
        ) {
            return false;
        }
        return true;
    }

    onDrop(source: any, target: any) {
        console.log("drop");
        if (!this.session) return;
        // see if the move is legal
        const move = this.session.game.move({
            from: source,
            to: target,
            promotion: "q" // NOTE: always promote to a queen for example simplicity
        });

        // illegal move
        if (move === null) return "snapback";
        this.updateStatus(move);
    }

    updateStatus(move: Chess.Move) {
        if (!this.session) return;
        //@ts-ignore
        this.$socket.emit("game-move", {
            move: move,
            sessionId: this.session.id,
            userId: this.$store.state.chess.playerUUID
        });
        console.log(this.session.game);
        console.log(this.session);
    }
}
</script>

<style scoped>
.board-container {
    width: 60vh;
}

#board {
    width: 100%;
}
</style>
