<template>
    <v-container>
        <v-row class="text-h4" justify="center">
            Welcome To Chess
        </v-row>
        <br />
        <br />
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title @click="startSession('white')">
                        Play as white
                    </v-card-title>
                </v-card>
            </v-col>
            <v-col>
                <v-card>
                    <v-card-title @click="startSession('black')">
                        Play as black
                    </v-card-title>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "nuxt-class-component";
import axios from "axios";
@Component
export default class Index extends Vue {
    async startSession(color: "white" | "black") {
        const resp = await axios.post("/api/create-session", {
            color
        });
        const { session, playerUUID, playerColor } = resp.data;
        this.$store.commit("chess/setSession", session);
        this.$store.commit("chess/setPlayerUUID", playerUUID);
        this.$router.push(`/session/${session.id}`);
    }
}
</script>
